{% extends "template.html" %}


{% block body %}
    <form action="{% url 'log_in' %}" method="post">{% csrf_token %}
        <h1>Authentication</h1>

        {% if error_message %}
            <h3 style="color: red;">{{ error_message }}</h3>
        {% endif %}

        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" id="email" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" id="psw" required>

        <button type="submit" class="registerbtn">Login</button>

      <div class="container signin">
        <p>Haven't account yet? <a href="/users/registration/">Register</a>.</p>
      </div>
    </form>
{% endblock %}
