{% extends "template.html" %}
{% load static %}

{% block links %}
{% endblock %}

{% block body %}
    <div id="main_info">
        <div class="main avatar">
            <div><img id="image" width="720" height="406" src="{{ avatar_url }}" alt=""></div>
            <div><input id="avatar" name="avatar" type="file" form="form" disabled style="visibility: hidden"></div>
        </div>
        <div class="main nickname">
            <div id="nickname"><h1><span>{{ nickname }}</span></h1></div>
            <div id="email"><h3><span>{{ email }}</span></h3></div>
        </div>
    </div>
    <div id="other_info">
        <form id="form" action="." method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="other fields age"><label for="age">Age : </label><input id="age" name="age" value="{{ age }}" disabled></div>
            <div class="other fields country"><label for="country">Country : </label><input id="country" name="country" value="{{ country }}" disabled></div>
            <div class="other fields job"><label for="job">Job : </label><input id="job" name="job" value="{{ job }}" disabled></div>
            <div class="other fields about_user"><label for="about_user">About me : </label><textarea id="about_user" name="about_user" cols="80" rows="10" disabled>{{ about_user }}</textarea></div>
            <div class="other buttons cancel"><input id="edit" type="button" onclick="enEditing()" value="Edit"></div>
            <div class="other buttons submit"><input id="submit" type="submit" placeholder="Apply" disabled style="visibility: hidden"></div>
            <div class="other buttons cancel"><input id="cancel" type="button" onclick="cancelEditing()" value="Cancel" disabled style="visibility: hidden"></div>
        </form>
    </div>
{% endblock %}


{% block script %}
    <script src="{% static 'js/profile_edit.js' %}"></script>
{% endblock %}